.navbar {
    display: flex;
    justify-content: space-between;
background-color: #170F00;
font-family: 'Crimson Text', serif;
color: #FFF3B2;
align-items: center;
height: 4rem;
padding: 1rem;
font-size: 2rem;
overflow: hidden;
}

.menuIcon {
    display: none;
}

.middleSectionNav {
    display: flex;
    align-items: center;
    
}
.companyLogo {
    margin: 2rem 2rem 1.3rem 2rem;
}

@media screen and (max-width: 600px) {
    .phoneLogo, .cartWrapper, .middleSectionNav {display: none;}
    .navbar .menuIcon {
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}